* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.training-schedule {
  display: flex;
  flex-direction: column;
}

.training-schedule h3 {
  font-size: 1em;
}

.training-schedule hr {
  margin-top: 0.7em;
  margin-bottom: 1em;
}

.training-container {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  padding: 1.5em;
  border-radius: 2em;
  box-shadow: 10px 10px #e3e3e3;
}
.training {
  margin-bottom: 0.5em;
}
